### OSX System Files ###
.DS_Store

### IntelliJ ###
# Nuke it all (comment out if you just want to ignore user-specific stuff)
/.idea
**.iml

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

**/.idea/workspace.xml
**/.idea/tasks.xml

### Gradle ###
.gradle
/build

### I have no idea, but sure ###
/captures
/local.properties
